pipeline/Variable.json
{
	"name": "Variable",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set File Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "dsAzureSQLDatabasePrameter",
						"type": "DatasetReference",
						"parameters": {
							"tableName": {
								"value": "@pipeline().parameters.mainTable",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "dsAzureDataLakeParameter",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@variables('DestinationFilename')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set File Name",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "DestinationFilename",
					"value": {
						"value": "@concat(pipeline().parameters.mainTable,'_',utcnow(),'.csv')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"mainTable": {
				"type": "string"
			}
		},
		"variables": {
			"DestinationFilename": {
				"type": "String"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}